<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>

<div>
<ion-card>  
<ion-item>
  <ion-label>EMAIL:</ion-label>
  <ion-input placeholder="Enter Email"   [(ngModel)]="username"></ion-input>
</ion-item>

<br>
<ion-item>
  <ion-label>PASSWORD:</ion-label> 
  
  <ion-input placeholder="Enter Password" [(ngModel)]="password"></ion-input>
</ion-item> 


</ion-card>

<ion-button color="tertiary"  expand="full" (click)= "login_verify()">LOGIN </ion-button>
<br>
<hr>
<ion-button color="tertiary"  expand="full" [routerLink]="['/register']">REGISTER </ion-button>

</div>
</ion-content>
