
<ion-buttons>
    <ion-button class="close-btn" (click)="dismissModal()">Close</ion-button>
</ion-buttons>
 


<ion-content>
<!-- 
  <div class="menu-header-bg"></div> -->

  <ion-grid class="details">
    <ion-row>
      
      <ion-col>
          <ion-card-subtitle> <ion-icon name="layers"></ion-icon>
            Party
          </ion-card-subtitle>
         
          <p class="event-header">Club Tropicana Bunch</p>
          
          <p class="small-details">
            Iberostar Hotel <br> 
            August 19, 2020 <br> 
            3pm to 7pm <br> 
            $3820.00
          </p>

      </ion-col>
      
      <ion-col>
        
        <div class="img-header">
          <img src="assets/noimage.png" class = "detailed-img"/>
        </div>      

      </ion-col>

    </ion-row>

    <ion-row>
      <p class="description">
        Hello girls and boys! the time is near
      Mark your calendars and grab your gear!

      Off to the ocean we will go
      Bring the bikini, leave the beau!

      If you're ready to sun all day,
      And hit the town at night to play,
      Call one of the girls right away!
      </p>
    </ion-row>

    <ion-row class="action-button">
          
      <ion-button (click)="moveNext()"> 
        <ion-icon slot="start" name="create"></ion-icon> Edit
      </ion-button>

      <ion-button routerLink=""> 
        <ion-icon slot="start" name="trash"></ion-icon> Delete
      </ion-button>
    </ion-row>  

  </ion-grid>

 
</ion-content>