<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="ion-padding ion-margin">
    <div class="center_text">You have successfully logged out</div>
    <ion-button color="tertiary"  expand="full" [routerLink]="['/login']">LOGIN </ion-button>
<br>
<hr>
<ion-button color="tertiary"  expand="full" [routerLink]="['/register']">REGISTER </ion-button>

  </ion-card>

</ion-content>
