<ion-header [translucent]="true">
  <ion-toolbar>  
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <div class="head-banner"></div>

    <ion-grid>
      <ion-row>
        <ion-col class="ion-margin-start ion-margin-top">
         <h3 class="ion-no-margin big-message">
            {{fname}} {{lname}}
         </h3>   
        
        </ion-col>
      </ion-row>

      <ion-row class="action-button">
          
          <ion-button> 
            <ion-icon slot="start" name="calendar"></ion-icon> {{current_date}}
          </ion-button>
      
        
      </ion-row>
    </ion-grid>
      
    <img src="assets/undraw_checking_boxes_2ibd.svg" class = "banner-img"/>
  
  </div>

  <ion-grid>
    <ion-row>
      <ion-col class="ion-margin-start ion-margin-top">
       <h3 class="ion-no-margin event-header">
         Your Events
       </h3>      
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="ion-margin-bottom">
    <ion-grid>
      <ion-row>
        <ion-col sizeLg="4" sizeMd="4" sizeSm="6" sizeXs="12" *ngFor="let event of events" >

          <ion-card button (click)="presentModal()" style="border-radius: 15px;" class="card-width">

            <ion-card-header>

              <ion-card-subtitle> <ion-icon name="layers-outline"></ion-icon>
                {{event[0]}}
              </ion-card-subtitle>

              <ion-card-title>  {{event[1]}}</ion-card-title>
              
              <ion-row class="description">       
                {{event[2]}}    
              </ion-row>       
            </ion-card-header>
        
            <ion-button class="ion-no-margin" expand="full">View Details</ion-button>
        
          </ion-card>
        </ion-col>

      </ion-row>
    </ion-grid>
       





  </div>

</ion-content>
