<ion-header class="center">
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    
      <ion-item lines="none" color="medium">
          <h1>
            Jada-Rae Brown
          </h1>
      </ion-item>
    
  </ion-toolbar>

  
</ion-header>

<ion-content>

  <div>
    <ion-grid>
      <ion-row>
        <ion-col class="ion-margin-start ion-margin-top">
         <h3 class="ion-no-margin">
            Categories
         </h3>      
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-slides [options]="sliderConfigButton">
      <ion-slide>
        <ion-button shape="round" fill="outline">BIRTHDAY</ion-button>
      </ion-slide>

      <ion-slide>
        <ion-button shape="round" fill="outline" color="secondary">CONFERENCE</ion-button>
      </ion-slide>

      <ion-slide>
        <ion-button shape="round" fill="outline" color="tertiary">SEMINAR</ion-button>
      </ion-slide>

      <ion-slide>
        <ion-button shape="round" fill="outline" color="success">PARTY</ion-button>
      </ion-slide>

      <ion-slide>
        <ion-button shape="round" fill="outline" color="secondary">CONCERT</ion-button>
      </ion-slide>

      <ion-slide>
        <ion-button shape="round" fill="outline" color="tertiary">WORKSHOP</ion-button>
      </ion-slide>

    </ion-slides>
  </div>


  <div class="ion-margin-bottom">
    <ion-card>
      <img src="assets/flyer1.jpg" class = "size-img"/>
      <ion-card-content>

        <ion-grid class="ion-no-padding">
          <ion-row>
            <ion-col size="9">
              Circus Party
              <br>
              Friday, July 10, 2020
            </ion-col>

            <ion-col size="3">
              <b>Private</b>
            </ion-col>
          </ion-row>
        </ion-grid>
      
      </ion-card-content>
    </ion-card>
  </div>

  <div class="ion-margin-bottom">
    <ion-card>
      <img src="assets/flyer2.png" class = "size-img"/>
      <ion-card-content>
        <ion-grid class="ion-no-padding">
          <ion-row>
            <ion-col size="9">
              Club Tropicana Bunch
              <br>
              Saturday, August 19, 2020
            </ion-col>

            <ion-col size="3">
              <b>Public</b>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>

  <div class="ion-margin-bottom">
    <ion-card>
      <img src="assets/flyer3.jpg" class = "size-img"/>
      <ion-card-content>

        <ion-grid class="ion-no-padding">
          <ion-row>
            <ion-col size="9">
              Charity Event
              <br>
              Monday, December 12, 2020
            </ion-col>

            <ion-col size="3">
              <b>Private</b>>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>
