<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-searchbar type="tel"></ion-searchbar>
  
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div color="primary">
    <div class="head-banner"></div>
    <!-- <img src="assets/undraw_outdoor_party_oqh3.svg" class = "banner-img"/> -->

    <ion-grid>
      <ion-row>
        <ion-col class="ion-margin-start ion-margin-top">
         <h3 class="ion-no-margin big-message">
            Welcome!
         </h3>      
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-slides [options]="sliderConfig">
      <ion-slide class="slide-width">
        <ion-card>
          <img src="assets/noimage.png" class = "size-img"/>
        </ion-card>
      </ion-slide>
  
      <ion-slide>
        <ion-card>
          <img src="assets/noimage.png" class = "size-img"/>
        </ion-card>
      </ion-slide>
  
      <ion-slide>
        <ion-card>
          <img src="assets/noimage.png" class = "size-img"/>
        </ion-card>
      </ion-slide>
  
    </ion-slides>

  </div>
  

  <div>
    <ion-grid>
      <ion-row>
        <ion-col class="ion-margin-start ion-margin-top">
         <h3 class="ion-no-margin">
           All Events
         </h3>      
        </ion-col>
      </ion-row>
    </ion-grid>

 

    <!-- <ion-slides [options]="sliderConfigButton">
      <ion-slide>
        <ion-button shape="round" fill="outline">BIRTHDAY</ion-button>
      </ion-slide>

      <ion-slide>
        <ion-button shape="round" fill="outline" color="secondary">CONFERENCE</ion-button>
      </ion-slide>

      <ion-slide>
        <ion-button shape="round" fill="outline" color="tertiary">SEMINAR</ion-button>
      </ion-slide>

      <ion-slide>
        <ion-button shape="round" fill="outline" color="success">PARTY</ion-button>
      </ion-slide>

      <ion-slide>
        <ion-button shape="round" fill="outline" color="secondary">CONCERT</ion-button>
      </ion-slide>

      <ion-slide>
        <ion-button shape="round" fill="outline" color="tertiary">WORKSHOP</ion-button>
      </ion-slide>

    </ion-slides> -->
  </div>


  <div class="ion-margin-bottom">
    <ion-grid>
      <ion-row>
        <ion-col>

          <ion-card button (click)="presentModal()" style="border-radius: 15px;" class="card-width">

            <ion-card-header>

              <ion-card-subtitle> <ion-icon name="layers-outline"></ion-icon>
                Party
              </ion-card-subtitle>

              <ion-card-title>Beach Party Fun</ion-card-title>
              
              <ion-row class="description">       
                          Hello girls and boys! the time is near
                          Mark your calendars and grab your gear!
                          Off to the ocean we will go
                          Bring the bikini, leave the beau!    
              </ion-row>       
            </ion-card-header>
        
            <ion-button class="ion-no-margin" expand="full">View Details</ion-button>
        
          </ion-card>
        </ion-col>

        <ion-col>

          <ion-card button (click)="presentModal()" style="border-radius: 15px;" class="card-width">

            <ion-card-header>

              <ion-card-subtitle> <ion-icon name="layers-outline"></ion-icon>
                Party
              </ion-card-subtitle>

              <ion-card-title>Beach Party Fun</ion-card-title>
              
              <ion-row class="description">       
                          Hello girls and boys! the time is near
                          Mark your calendars and grab your gear!
                          Off to the ocean we will go
                          Bring the bikini, leave the beau!    
              </ion-row>       
            </ion-card-header>
        
            <ion-button class="ion-no-margin" expand="full">View Details</ion-button>
        
          </ion-card>
        </ion-col>

        <ion-col>

          <ion-card button (click)="presentModal()" style="border-radius: 15px;" class="card-width">

            <ion-card-header>

              <ion-card-subtitle> <ion-icon name="layers-outline"></ion-icon>
                Party
              </ion-card-subtitle>

              <ion-card-title>Beach Party Fun</ion-card-title>
              
              <ion-row class="description">       
                          Hello girls and boys! the time is near
                          Mark your calendars and grab your gear!
                          Off to the ocean we will go
                          Bring the bikini, leave the beau!    
              </ion-row>       
            </ion-card-header>
        
            <ion-button class="ion-no-margin" expand="full">View Details</ion-button>
        
          </ion-card>
        </ion-col>

      </ion-row>
    </ion-grid>
       





  </div>

  

</ion-content>
